
/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media (max-width: 350px){

.page{
	width:96%;
}

.top-number-part{
	padding-bottom:10px;
}

.top-social-icons {
    border-left:none 0px;
    float: left;
    margin:auto;
    padding: 10px 0 0px 0px;
	width:96%;
	text-align:center;
}

.top-social-icons span{
	width:100%;
}

.top-social-icons a.facebook{
	margin-left:25%;
}

.top-number {
    float: none;
    margin:auto;
	padding:0px;
    text-align:center;
    width: 100%;
	clear:both;
	padding-top:10px;
}
.top-number img {
    float: none;
    padding-top: -4px;
	position:absolute;
}
.top-number span {
    float: none;
    padding-left: 30px;
}

.logo, .logo span.name{
	float:none;
	text-align:center;
	clear:both;
}
.top-search, .top-search input, .top-search input[type="button"]{
	float:none;
	text-align:center;
}

.top-search input{
	text-align:left;
	width:75%;
}

.top-search{
	padding-top:0px;
	padding-bottom:15px;
}

nav .menu ul li a{
	padding:0 7px;
}

nav{
	background-image:none;
	background-color:#313131;
	height:auto;
}

nav .menu ul li{
	width:100%;
	background-image:none;
	border-bottom:solid 1px #5c5c5c;
	line-height:36px;
	text-align:center;
	padding:0px;
}

nav .menu ul li:last-child{
	border-bottom:none 0px;
}

nav .menu ul{
	background-image:none;
}

nav .menu ul li:hover ul{
	display:none;
}

.our-services {
    border-right:none 0px;
    width: 95%;
}

.our-services h4 {
    font-size: 19px;
    padding-bottom: 7px;
}

.our-services a.readmore{
	float:right;
}

.practice-area, #cmspages div.practice-area {
    float: left;
    padding: 4%;
    width:92%;
	min-height:inherit;
}

.content-area, #cmspages div.content-area{
	border:none 0px;
	width:92%;
	padding:4%;
	border-top:none 0px;
	margin-bottom:15px;
}

.content-text{
	height:300px;
	overflow:auto;
	
}

.content-area h2, .practice-area h2, .practice-area h2{
	font-size:19px;
	padding-bottom:0px;
}

.practice-area a img{
	width: 100%;
	display:none;
}

.practice-area p{
	float:left;
	width:100%;
}

.practice-area p input, .practice-area p textarea{
	width:94%;
	padding:2% 3%;
}

.practice-area{
	width:92%;
	padding:4%;
	min-height:inherit;
}

.practice-area ul{
	height:200px;
	overflow:auto;
}

.practice-area h2{
	padding-bottom:10px;
}

#contactus .content-area div.contact-form, #contactus .content-area div.contact-details, #contactus .content-area div.contact-form li {
    width: 100%;
}

#contactus .content-area div.contact-details {
    width: 96%;
	margin-top:20px;
	min-height:auto;
	float:left;
}

footer{
	line-height:18px;
}

.banner {
    height: 180px;
}


}


@media (min-width: 351px) and (max-width: 490px){

.page{
	width:340px;
}

.top-number-part{
	padding-bottom:10px;
}

.top-social-icons {
    border-left:none 0px;
    float: none;
    margin:auto;
    padding: 10px 0 0px 0px;
}

.top-number {
    float: none;
    margin:auto;
	padding:0px;
    text-align:center;
    width: 100%;
	clear:both;
	padding-top:10px;
}
.top-number img {
    float: none;
    padding-top: -4px;
	position:absolute;
}
.top-number span {
    float: none;
    padding-left: 30px;
}

.logo, .logo span.name{
	float:none;
	text-align:center;
	clear:both;
}
.top-search, .top-search input, .top-search input[type="button"]{
	float:none;
	text-align:center;
}

.top-search input{
	text-align:left;
}

.top-search{
	padding-top:0px;
	padding-bottom:15px;
}

nav .menu ul li a{
	padding:0 7px;
}

nav{
	background-image:none;
	background-color:#313131;
	height:auto;
}

nav .menu ul li{
	width:100%;
	background-image:none;
	border-bottom:solid 1px #5c5c5c;
	line-height:36px;
	text-align:center;
	padding:0px;
}

nav .menu ul li:last-child{
	border-bottom:none 0px;
}

nav .menu ul{
	background-image:none;
}

nav .menu ul li:hover ul{
	display:none;
}

.our-services {
    border-right:none 0px;
    width: 95%;
}

.our-services h4 {
    font-size: 19px;
    padding-bottom: 7px;
}

.our-services a.readmore{
	float:right;
}

.practice-area, #cmspages div.practice-area {
    float: left;
    padding: 4%;
    width:92%;
	min-height:inherit;
}

.content-area, #cmspages div.content-area{
	border:none 0px;
	width:92%;
	padding:4%;
	border-top:none 0px;
	margin-bottom:15px;
}

.content-text{
	height:300px;
	overflow:auto;
}


.content-area h2, .practice-area h2, .practice-area h2{
	font-size:19px;
	padding-bottom:0px;
}

.practice-area a img{
	width: 100%;
	display:none;
}

.practice-area p{
	float:left;
	width:100%;
}

.practice-area p input, .practice-area p textarea{
	width:94%;
	padding:2% 3%;
}

.practice-area{
	width:92%;
	padding:4%;
	min-height:inherit;
}

.practice-area ul{
	height:200px;
	overflow:auto;
}

.practice-area h2{
	padding-bottom:10px;
}

#contactus .content-area div.contact-form, #contactus .content-area div.contact-details, #contactus .content-area div.contact-form li {
    width: 100%;
}

#contactus .content-area div.contact-details {
    width: 96%;
	margin-top:20px;
	min-height:auto;
	float:left;
}
footer{
	line-height:18px;
}


.banner {
    height: 200px;
}

}


@media (min-width: 491px) and (max-width: 700px){

.page{
	width:470px;
}

.top-number-part{
	padding-bottom:10px;
}

.top-social-icons {
    border-left:none 0px;
    float: none;
    margin:auto;
    padding: 10px 0 0px 0px;
}

.top-number {
    float: none;
    margin:auto;
	padding:0px;
    text-align:center;
    width: 100%;
	clear:both;
	padding-top:10px;
}
.top-number img {
    float: none;
    padding-top: -4px;
	position:absolute;
}
.top-number span {
    float: none;
    padding-left: 30px;
}

.logo, .logo span.name{
	float:none;
	text-align:center;
	clear:both;
}
.top-search, .top-search input, .top-search input[type="button"]{
	float:none;
	text-align:center;
}

.top-search input{
	text-align:left;
}

.top-search{
	padding-top:0px;
	padding-bottom:15px;
}

nav .menu ul li a{
	padding:0 7px;
}

.our-services {
    border-right:none 0px;
    width: 95%;
}

.our-services h4 {
    font-size: 19px;
    padding-bottom: 7px;
}

.our-services a.readmore{
	float:right;
}

.practice-area {
    float: left;
    padding: 2% 3% 0 0;
    width: 46%;
	min-height:inherit;
}

.content-area, #cmspages div.content-area{
	border:none 0px;
	width:100%;
	padding:2% 0% 0% 0%;
	margin-bottom:20px;
}

.content-text{
	height:300px;
	overflow:auto;
}

.content-area h2, .practice-area h2, .practice-area h2{
	font-size:18px;
	padding-bottom:0px;
	line-height:24px;
}

.practice-area a img{
	width: 100%;
	display:none;
}

.practice-area, #cmspages div.practice-area{
	width:96%;
	padding:2%;
}
.practice-area h2{
	padding-bottom:10px;
}
.practice-area li{
	float:left;
	width:46%;
}

.practice-area p{
	width:50%;
	float:left;
}

.practice-area p input[type="button"]{
	float:left;
}

.practice-area p input, .practice-area p textarea{
	width:90%;
}

.banner{
	height:auto;
}

#contactus .content-area div.contact-form, #contactus .content-area div.contact-details{
    width: 100%;
}

#contactus .content-area div.contact-details {
    width: 96%;
	margin-top:20px;
	min-height:auto;
	float:left;
}

}

@media (min-width: 701px) and (max-width: 900px){

.page{
	width:680px;
}

.menu ul li a {
    padding: 0 22px !important;
}

.our-services h4 {
	font-size:18px;
	padding-bottom:10px;
}

.practice-area p {
    float: none;
}

.practice-area p input, .practice-area p textarea {
    width:95%;
}

.practice-area p img{
    width:100%;
	margin-top:15px
}

.content-area h2, .practice-area h2, .practice-area h2{
	font-size:16px;
	line-height:24px;
	padding-bottom:5px;
}

.practice-area li {
    padding:4px 0px;
	line-height:16px;
	background-position:left 9px;
}


.practice-area li a{
	line-height:16px;
	padding-left:0px;
}

.practice-area {
    padding: 1% 0 1% 1%;
}

#contactus .content-area div.contact-form, #contactus .content-area div.contact-details{
    width: 100%;
}

#contactus .content-area div.contact-details {
    width: 96%;
	margin-top:20px;
	min-height:auto;
	float:left;
}

footer div.page{
	text-align:center;
	height:70px;
}

footer a.facebook, footer a.twitter, footer a.linkedin, footer a.gmailplus{
	position:absolute;
	margin-top:35px;
	
}

footer a.facebook{
	margin-left:-425px;
}

footer a.twitter{
	margin-left:-390px;
}

footer a.linkedin{
	margin-left:-355px;
}

footer a.gmailplus{
	margin-left:-320px;
}

.banner{
	height:auto;
}

}


@media (min-width: 901px) and (max-width: 1024px){

.page{
	width:880px;
}

.banner{
	height:auto;
}

}


@media (min-width: 1024px) and (max-width: 1366px){



}