
/**=== Start Change Color =================================================************************/

header, .practice-area h4, .menu, footer, #contactus .content-area div.contact-form li input[type=submit]{
	background-color:##BGCOLOR##;
}

.content-text h5, .content-area h2, #contactus .content-area div.contact-details label{
	color:##TEXTCOLOR##;
}

.middle{
	border-color:##BORDERCOLOR##;
}

a, .practice-area ul li a{
	color:##LINKCOLOR##;
}

a:hover, .practice-area ul li a:hover{
	color:##LINKHOVERCOLOR##;
}


/**=== End Change Color =================================================************************/