.banner, .free-consultation {
	background-color:#666f5c;
}

#left-column .page, #right-column .page, #right-column .page, #home .page, #contactus .page, #faq .page {-moz-box-shadow: inset 0 0 34px 0 #BEBEBE; -webkit-box-shadow: inset 0 0 34px 0 #BEBEBE; box-shadow: inset 0 0 34px 0 #BEBEBE; border-radius: 20px;}

nav li a:hover, nav li a.active, nav li a.home-active, nav li a.contect-active, nav li a.home:hover, nav li a.contect:hover, .free-consultation, .copyright a, footer { color:##LINKCOLOR##;}

nav li a:hover, nav li a.active, nav li a.home-active, nav li a.contect-active, nav li a.home:hover, nav li a.contect:hover {background-color:##BGCOLOR##;}

.free-consultation h1 span, nav li a, .copyright a:hover, #contactus .content-area div.contact-form li input[type=submit] { color:##TEXTCOLOR##;}

#sequence li img, .banner, .results-box, footer, .footer-social-icons { border-color:##BORDERCOLOR##!important;}

li, a, .quick-contact h3 span, .welcome-content h4 span, footer a, .practicearea-left ul li a:hover, .practicearea-right ul li a:hover{
	color:##LINKCOLOR##;
}
#faq .content-text h4 a:hover { color:##LINKHOVERCOLOR##;}
nav .menu ul li a:hover, .middle-left ul li{
	border-color:#62b3d1;
}