
/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media (max-width: 350px){

.page{
	width:96%;
}

.banner{
	height:auto;
}

nav{
	width:100%;
	margin-bottom:15px;
}

nav ul{
	margin-top:0px;
}

nav ul li{	
	width:100%;
	text-align:center;
}

nav ul li a{
	padding:5px 8px;
	display:block;
}

nav ul li a:hover{
	border:none;
}

nav ul li ul{
	top:110px;
	display:none;
}

nav ul li:hover ul{
	top:110px;
	display:none;
}

.logo{
	width:100%;
	overflow:hidden;
	padding:15px 0px;
	text-align:center;
}

.phoneno{
	width:100%;
	padding:0px;
	text-align:center;
	background-image:none;
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	padding:5px 0px 3px 0px;
}

.logo img{
	height:40px;
}

#full-width .content-area, #faq .content-area, #contactus .content-area{
	width:100%;
}

#left-column .content-area, #right-column .content-area, #home .content-area{
	width:100%;
	float:left;
}

#left-column .content-area, #right-column .content-area{
	margin-top:20px;
}

.practice-area, #home .practice-area{
	width:100%;
}
.practice-area ul{
	min-height:inherit;
	float:left;
	height:200px;
	overflow:auto;
}

#home{
	margin-top:0px;
}

#home .practice-area ul{
	padding-bottom:0px;
}

.practice-area ul li, #home .practice-area ul li{
	width:100%;
	float:left;
}

.content-text{
	height:200px;
	overflow:auto;
}

#faq .content-text{
	height:auto;
	overflow:inherit;
}

.quick-contact {
    float: left;
    width: 100%;
	text-align:center;
	border-right:solid 1px #B5B5B5;
	height:auto;
}

.quick-contact ul{
	padding:5%;
}

.quick-contact li{
	padding:0px;
	width:100%;
	text-align:left;
}

.quick-contact li input, .quick-contact li textarea {
    background-color: #DDDCDC;
    border: 1px solid #9F9F9F;
    padding: 2%;
    width:95%;
}

.quick-contact li input[type="button"]{
	margin-top:10px;
	margin-bottom:5px;
	float:left;
}

#contactus .content-area div.contact-form{
	width:100%;
}

#contactus .content-area div.contact-details{
	width:90%;
	min-height:inherit;
	padding:5%;
	margin-top:25px;
}

#contactus .content-area div.contact-form li{
	width:100%;
}

.copyright{
	text-align:center;
}

.social-icons{
	text-align:center;
	float:left;
	margin-left:24%;
}

.social-icons ul{
	display:inline-block;
	float:none;
}

.banner {
    height: 200px;
}

footer{
	text-align:center;
}

}


@media (min-width: 351px) and (max-width: 490px){

.page{
	width:340px;
}

.banner{
	height:auto;
}

nav{
	width:340px;
}

nav ul{
	margin-top:0px;
	margin-bottom:10px;
}

nav ul li{	
	width:100%;
	text-align:center;
}

nav ul li a{
	padding:6px 8px;
	display:block;
}

nav ul li a:hover{
	border:none;
}


nav ul li ul{
	top:110px;
	display:none;
}

nav ul li:hover ul{
	top:110px;
	display:none;
}

.logo{
	width:100%;
	overflow:hidden;
	padding:15px 0px;
	text-align:center;
}

.phoneno{
	width:100%;
	padding:0px;
	text-align:center;
	background-image:none;
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	padding:5px 0px 3px 0px;
}

.logo img{
	height:40px;
}

#home{
	margin-top:0px;
}

#full-width .content-area, #faq .content-area, #contactus .content-area{
	width:340px;
}

#left-column .content-area, #right-column .content-area, #home .content-area{
	width:100%;
	float:left;
}

#left-column .content-area, #right-column .content-area{
	margin-top:20px;
}

.practice-area{
	width:100%;
	height:auto;
}
.practice-area ul{
	min-height:inherit;
	float:left;
}

.practice-area ul li, #home .practice-area ul li, #full-width .practice-area ul li{
	width:100%;
	float:left;
}

#home .practice-area, #full-width .practice-area{
	width:100%;
	height:auto;
}

.quick-contact {
    float: left;
    width: 340px;
	border: 1px solid #B5B5B5;
	height:auto;
}

.quick-contact li{width:100%;}

.quick-contact li input, .quick-contact li textarea {
    background-color: #DDDCDC;
    border: 1px solid #9F9F9F;
    padding: 5px;
    width: 90%;
}

.quick-contact li input[type="button"]{
	margin-top:10px;
	margin-bottom:5px;
	float:left;
}

#contactus .content-area div.contact-form{
	width:100%;
}

#contactus .content-area div.contact-details{
	width:90%;
	min-height:inherit;
	padding:5%;
	margin-top:25px;
}

.copyright{
	text-align:center;
}

.social-icons{
	text-align:center;
	float:left;
	margin-left:28%;
}

.social-icons ul{
	display:inline-block;
	float:none;
}

.banner {
    height: 200px;
}

footer{
	text-align:center;
}

}


@media (min-width: 491px) and (max-width: 700px){

.page{
	width:470px;
}

.banner{
	height:auto;
}

nav{
	width:470px;
	height:30px;
	margin-bottom:10px;
}

nav ul{
	margin-top:0px;
}

nav ul li a{
	padding: 10px 8px;
}


nav ul li ul{
	top:132px;
}

.logo{
	width:100%;
	overflow:hidden;
	padding:20px 0px;
	text-align:center;
}

.logo img{
	height:40px;
}

#home{
	margin-top:0px;
}

#full-width .content-area, #faq .content-area, #contactus .content-area{
	width:470px;
}

#left-column .content-area, #right-column .content-area, #home .content-area{
	width:100%;
	float:left;
}

#left-column .content-area, #right-column .content-area{
	margin-top:20px;
}

.practice-area, #home .practice-area, #full-width .practice-area{
	width:100%;
	height:auto;
}
.practice-area ul{
	min-height:inherit;
	float:left;
}

.practice-area ul li, #home .practice-area ul li, #full-width .practice-area ul li{
	width:50%;
	float:left;
}

.quick-contact {
    float: left;
    width: 470px;
	border-right:solid 1px #B5B5B5;
}

.quick-contact li{width:50%;}

.quick-contact li input, .quick-contact li textarea {
    background-color: #DDDCDC;
    border: 1px solid #9F9F9F;
    padding: 5px;
    width: 85%;
}

#contactus .content-area div.contact-form{
	width:100%;
}

#contactus .content-area div.contact-details{
	width:90%;
	min-height:inherit;
	padding:5%;
	margin-top:25px;
}

.copyright{
	text-align:center;
}

.social-icons{
	text-align:center;
	float:left;
}

.social-icons ul{
	display:inline-block;
	float:none;
}

.banner{
	height:201px;
}

footer{
	text-align:center;
}


}

@media (min-width: 701px) and (max-width: 900px){

.page{
	width:680px;
}

.banner{
	height:auto;
}

nav{
	width:480px;
}

nav ul li a{
	padding: 10px 8px;
}

.logo{
	width:200px;
	overflow:hidden;
}

.logo img{
	height:40px;
}

#full-width .content-area, #faq .content-area, #contactus .content-area, #home .content-area, #full-width .practice-area{
	width:680px;
}

#left-column .content-area, #right-column .content-area{
	width:440px;
}

.practice-area{
	width:220px;
}

#home .practice-area{
	width: 340px;
}

#home .practice-area ul li{
	width:50%;
}

#full-width .practice-area ul li{
	width:33%;
}

.quick-contact {
    float: left;
    width: 339px;
}



.quick-contact li input, .quick-contact li textarea {
    background-color: #DDDCDC;
    border: 1px solid #9F9F9F;
    padding: 5px;
    width: 132px;
}

.copyright{
	text-align:center;
}

.social-icons{
	text-align:center;
}

.social-icons ul{
	display:inline-block;
	float:none;
}

.banner{
	height:210px;
}

}


@media (min-width: 901px) and (max-width: 1024px){

.page{
	width:880px;
}

.banner{
	height:280px;
}

nav{
	width:580px;
}

nav ul li a{
	padding:10px 15px;
}

#home {
    margin-top:30px;
}

#full-width .content-area, #faq .content-area, #contactus .content-area, #home .content-area{
	width:880px;
}

#left-column .content-area, #right-column .content-area{
	width:620px;
}

.practice-area{
	width:260px;
}

.quick-contact {
    float: left;
    width: 880px;
}

.quick-contact li input, .quick-contact li textarea {
    background-color: #DDDCDC;
    border: 1px solid #9F9F9F;
    padding: 5px;
    width: 160px;
}

#home .quick-contact{
	float:left;
	width:300px;
}

#home .quick-contact li input, .quick-contact li textarea{
	width:85%
}

#home .practice-area{
	width:579px;
}

#full-width .practice-area{
	width:880px;
}

}


@media (min-width: 1024px) and (max-width: 1366px){



}
