/* 
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling. 
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 * 
 * ==|== normalize ==========================================================
 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}
audio, canvas, video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
audio:not([controls]) {
	display: none;
}
[hidden] {
	display: none;
}
/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html {
	font-size: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	padding:0px;
	margin: 0;
	font-size: 13px;
	line-height:18px;
	background-color:#fff;
	
}
body, button, input, select, textarea {
	font-family: 'CorbelRegular';
	color:#646464;
}

/* 
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection {
	background: #ccc;
	color: #000;
	text-shadow: none;
}
::selection {
	background: #ccc;
	color: #000;
	text-shadow: none;
}
 {
	font-size:13px;
	text-decoration:none;
	outline:none 0px;
}
a{
	text-decoration:none;
}
a:hover {
	color: #ac080f;
}
a img {
	border:none;
}
/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active {
	outline:none 0px;
}

/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] {
	border-bottom: 1px dotted;
}
b, strong {
	font-weight: bold;
}
blockquote {
	margin: 1em 40px;
}
dfn {
	font-style: italic;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px dotted #363636;
	margin:5px 0;
	padding: 0;
}
ins {
	background: #ff9;
	color: #000;
	text-decoration: none;
}
mark {
	background: #ff0;
	color: #000;
	font-style: italic;
	font-weight: bold;
}
/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp {
	font-family: 'CorbelRegular';
	font-size: 1em;
}
/* Improve readability of pre-formatted text in all browsers */
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}
q {
	quotes: none;
}
q:before, q:after {
	content: "";
	content: none;
}
small {
	font-size: 85%;
}
/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
/* =============================================================================
   Lists
   ========================================================================== */
ul, ol {
	margin:0px;
	padding:0px;
}
dd {
	margin: 0 0 0 40px;
}
nav ul, nav ol {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}

li{
	/*list-style:none;*/
	/*background-image:url(../images/list-style-blue-image.png);
	background-position:center left;
	background-repeat:no-repeat;*/
}
/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e 
 */

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
}

/*
 * Correct overflow not hidden in IE9 
 */

svg:not(:root) {
overflow: hidden;
}
/* Figures */
figure {
	margin: 0;
}
/* Forms */

form {
	margin: 0;
	padding:0px;
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
/* Indicate that 'label' will shift focus to the associated form element */
label {
	cursor: pointer;
}
/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend {
	border: 0;
	*margin-left: -7px;
	padding: 0;
}
/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle;
}
/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button {
	line-height: normal;
	*overflow: visible;
	background-color:#15a7bd;
	color:#FFFFFF;
}

button:hover {
	background-color:#FFFFFF;
	color:#15a7bd;
}

input, textarea {
	line-height: normal;
	*overflow: visible;
	background-color:#FFFFFF;	
	color:#4e4e4e;
}

textarea:focus {
	background-color:#FFFFFF !important;
	-moz-box-shadow:inset 3px 3px 3px #dddcdc;
	-webkit-box-shadow:inset 3px 3px 3px #dddcdc;
	box-shadow:inset 3px 3px 3px #dddcdc;
}
/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */

table button, table input {
	*overflow: auto;
}
/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}
/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
}
input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/* 
 * Remove inner padding and border in FF3/4: h5bp.com/l 
 */

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
/* 
 * 1. Remove default vertical scrollbar in IE6/7/8/9 
 * 2. Allow only vertical resizing
 */

textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical;
}

/* Colors for form validity */
input:valid, textarea:valid {
}
input:invalid, textarea:invalid {
	background-color: #f0dddd;
}
/* Tables */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
td {
	vertical-align: top;
}
/* ==|== primary styles === */
h1, h2, h3, h4, h5, h6 {
	margin:0px;
	padding:0px;
	font-family: 'CorbelRegular';
}


@font-face {
    font-family: 'AmbleRegular';
    src: url('fonts/amble-regular/Amble-Regular-webfont.eot');
    src: url('fonts/amble-regular/Amble-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/amble-regular/Amble-Regular-webfont.woff') format('woff'),
         url('fonts/amble-regular/Amble-Regular-webfont.ttf') format('truetype'),
         url('fonts/amble-regular/Amble-Regular-webfont.svg#AmbleRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CorbelRegular';
    src: url('fonts/corbel/corbel-webfont.eot');
    src: url('fonts/corbel/corbel-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/corbel/corbel-webfont.woff') format('woff'),
         url('fonts/corbel/corbel.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MyriadProRegular';
    src: url('fonts/MyriadPro-Regular/myriadpro-regular.eot');
    src: url('fonts/MyriadPro-Regular/myriadpro-regular.eot') format('embedded-opentype'),
         url('fonts/MyriadPro-Regular/myriadpro-regular.woff') format('woff'),
         url('fonts/MyriadPro-Regular/myriadpro-regular.ttf') format('truetype'),
         url('fonts/MyriadPro-Regular/myriadpro-regular.svg#MyriadProRegular') format('svg');
}

#home .content-text, #faq .content-text, #contactus .content-area, .content-text, .quick-form input, .quick-form textarea {background-color: #FFFFFF;}

#left-column .page, #right-column .page, #home .page, #faq .page, #contactus .page, nav ul li a:hover, nav ul li a.active, .teet-icon:hover, .teet-icon.active, .fb-icon:hover, .linkdin-icon:hover, .google-icon:hover, .rss-icon:hover, header {background-color: #3D3D3D;}

nav ul li a, .contact-no h4 {font-family: 'CorbelRegular';}
.content-area li {margin:0 0 0 20px;}

.left{float:left;}
.right{	float:right;}
.page {	width:980px; margin:0 auto;}
header, .banner, .service-part, footer, .middle{margin:auto; float:left; width:100%;}
header{	margin-top:0; height:40px;}
.logo-part{float: left; padding:25px 0 25px; width: 250px; position: relative; z-index:1; margin:0;}
.logo-part img{ text-align:center;}
.contact-no { float:left; width:260px; margin:6px 0 0 0;}
.contact-no h4 {float: left; font-size: 28px; line-height: 0; margin: 10px 0 0 5px; padding: 0;}
.call-icon { float:left; margin:5px 0 0 0;}
.banner-header { float:left; width:100%;}
.teet-icon, .fb-icon, .linkdin-icon, .google-icon, .rss-icon { float:right; width:18px; height:80px; background-image:url(../../images/theme14/social-icons.png); background-repeat:no-repeat;}
.teet-icon { background-position:5px 54px;}
.fb-icon {background-position:-25px 54px;}
.linkdin-icon {background-position:-56px 54px;}
.google-icon {background-position:-86px 54px;}
.rss-icon {background-position:-116px 54px;}
.teet-icon:hover, .teet-icon.active { background-position:-135px 54px;}
.fb-icon:hover {background-position:-165px 54px;}
.linkdin-icon:hover {background-position:-196px 54px;}
.google-icon:hover {background-position:-226px 54px;}
.rss-icon:hover {background-position:-256px 54px;}
.social-icons h2 {font-size:18px; float:right; margin:40px 10px 0 0;color:#2a2a2a;}
.social-icons a { margin:0 5px;}
.banner {float:left;}
#sequence ul { padding:0;}
.social-icons { float:right; width:297px;}
nav { float: left; width: 100%; height:34px; margin:0 0 10px 0; background-image:url(../../images/theme14/main-menu-bg.png); background-repeat:repeat-x;}
nav ul { float: left; margin:0 0 0 10px; padding:0;}
nav ul li {	display:inline; float:left;}
nav ul li a {padding:12px 40px; line-height:34px; font-size:18px;color:#3d3d3d;}
nav ul li a:hover{color:#ffffff;}

nav ul li ul{
	display:none;
	position: absolute;
    z-index: 121;
	top:168px;
	margin:0;
}

nav ul li:hover ul{
	display:block;
}

nav ul li ul li{
	color:#FFFFFF;
	line-height: 18px;
    width:100%;
	display:block;
	clear: both;
}

nav ul li ul li a{
	background-color:#3D3D3D;
	color:#FFFFFF;
	font-size:14px;
	line-height: 18px;
    width:100%;
	display:block;
    padding:8px 20px 8px 10px;
}

nav ul li ul li a:hover{
	color:#FFFFFF;
	background-color:#2d2d2d;
}

.practice-area { margin: 0 0; padding: 0 15px 10px; width: 250px; min-height: 400px;}
.practice-area ul { margin: 0; padding-left: 10px;}
.practice-area li {list-style-type: none;font-size: 15px; background-image:url(../../images/theme14/areas-icon.png); background-repeat:no-repeat; background-position:left 12px; padding: 5px 0 5px 20px; margin:0 0 0px 0;}
.content-area {color: #605D5D; font-size: 13px; margin: 0 0; padding: 0; text-align: justify; width: 697px;}  /*#827F7F*/
.quick-main { float:left; width:100%;}
.quick-contact { float: left; margin: 0 0 0; padding: 0 15px; width: 59%; border-left:1px solid #fff; border-right:1px solid #fff; min-height:177px;}
.quick-form input, .quick-form textarea {border: 1px solid #7a7a7a; float: left; margin: 0 7px 10px 0; padding: 5px; width: 186px;}
.quick-form textarea { height:18px;}
.quick-form input.send-btn{background-color:#3d3d3d;color:#ffffff;}
.why-us { float:left; width:221px; padding:0 16px; height:177px; overflow:hidden;}
.why-us p { padding:0;}
.quick-main h2 { float:left; width:100%;}
.send-btn { border: medium none !important; float: left !important; width: 60px !important;}
#left-column .page, #right-column .page, #home .page, #faq .page, #contactus .page {display: inline-block; margin: 0 auto; text-align: left;}
.middle { position: relative; text-align: center; z-index: 1;}
.content-text {float: left; margin: 0 0px 4px; padding: 10px 15px; width: 661px;}
.content-area h2 { margin:0 0px 0px; font-size:27px; color:#000; font-weight:bold; background-color:#e1e1e1; padding:3px 16px 2px; float:left; width:94.8%;}
.quick-main h2 { background:none; color:#fff; margin:0 -16px 0px}
..why-us h2 {color:#fff;}
footer { background-color: #E1E1E1; font-size: 12px; height: 103px; margin: -75px 0 0; padding: 15px 0;color:#3d3d3d;}
footer a { padding: 0 10px;color:#3d3d3d;}
footer a:hover{color:#000000;}
footer .page { margin-top:80px;}
#home .content-area h2 {margin: 0 4px 0; width: 100% !important;}
#home .content-text, #faq .content-text { float: left; margin: 0 4px 4px; padding: 10px 16px 0; width: 100%;}
#contactus .content-area { float: left; margin: 0 4px 4px; padding:0 16px; width: 100%;}
#home .content-area, #faq .content-area, #contactus .content-area { width: 940px; min-height: 400px;}
#faq .content-area h2 { width: 100%!important; margin: 0 4px 0px;}
#contactus .content-area h2 { width: 99.9%!important; margin: 0 0px 0px -15px;}
#faq .content-area h4 a.twisty-collapse, #faq .content-area h4 a.twisty-expand {display: block; font-size: 15px; font-weight: normal; margin-bottom: 2px; padding: 5px 10px; } /*#ededed background-color:#C9C9C9;*/
#contactus .content-area div.contact-form{ margin:0 0 10px;	width:70%;}
#contactus .content-area div.contact-details{width:28%; margin: 10px 0 0; padding:1%; min-height: 235px;}  /* #f3f3f3 background-color:#C9C9C9;*/
#contactus .content-area div.contact-details label{	font-size:16px;	margin-bottom:10px;	float:left;	width:70px;	clear:both;}
#contactus .content-area div.contact-details p{	float:left;	padding-left:0px; padding-bottom:15px;}
#contactus .content-area div.contact-form p.text{font-size:16px; padding-top:8px; float:left; width:97.3%;}
#contactus .content-area div.contact-form li{float:left; width:50%;list-style-type: none;margin: 0;}
#contactus .content-area div.contact-form li input, #contactus .content-area div.contact-form li textarea, #contactus .content-area div.contact-form li select{border: 1px solid #BAB8B8; float: left; margin: 0; padding: 5px 2%; width: 90%;}
#contactus .content-area div.contact-form li input[type="radio"], #contactus .content-area div.contact-form li input[type="checkbox"]{width:auto; margin-right:10px; float:left;}
#contactus .content-area div.contact-form li.contact-radio label, #contactus .content-area div.contact-form li.contact-checkbox label{float:left; margin-right:2px; line-height:15px;}
#contactus .content-area div.contact-form li select{width:94%;}
#contactus .content-area div.contact-form li.contact-message{ width:100%;}
#contactus .content-area div.contact-form li textarea{ width:93%;}
#contactus .content-area div.contact-form li input[type="submit"] {border: medium none; margin-top: 15px; padding: 8px 20px; width: auto;font-size:16px;}
#contactus .content-area div.contact-form li p{	padding-top:15px; float:left; width:100%;}
#contactus .content-area div.contact-form li p span.required{color:#FF0000;	font-size:16px; line-height:10px;}

a.twisty-expand{color: #000000; display: block; font-size: 16px; font-weight: normal; margin-bottom: 2px; padding: 5px 10px;}
#faq .content-text h4 .answer p {font-weight: normal; margin: 10px 0 8px; font-family: 'CorbelRegular';}

/*============================27-08-2013==============================*/
.contact-no h4 { color:#fff!important;}
#contactus .content-area div.contact-form li input { padding:6px 2%;}
#contactus .content-area div.contact-form li img { margin:10px 0 0 0;}
#contactus .content-area div.contact-form li select option { margin:0 0 0 5px;}

#faq .content-area h4 div.answer {
    font-size: 14px;
    font-weight: normal;
    padding: 10px 28px;
}